In [4]:
import os
os.getcwd()

'/home/mihir/Documents/Workshop'

In [5]:
import pandas as pd
import numpy as np

In [6]:
df = pd.read_csv('birthwt.csv')

In [7]:
df

     low  age  lwt  race  smoke  ptl  ht  ui  ftv   bwt
0      0   19  182     2      0    0   0   1    0  2523
1      0   33  155     3      0    0   0   0    3  2551
2      0   20  105     1      1    0   0   0    1  2557
3      0   21  108     1      1    0   0   1    2  2594
4      0   18  107     1      1    0   0   1    0  2600
..   ...  ...  ...   ...    ...  ...  ..  ..  ...   ...
184    1   28   95     1      1    0   0   0    2  2466
185    1   14  100     3      0    0   0   0    2  2495
186    1   23   94     3      1    0   0   0    0  2495
187    1   17  142     2      0    0   1   0    0  2495
188    1   21  130     1      1    0   1   0    3  2495

[189 rows x 10 columns]

In [9]:
import scipy.stats as st

In [12]:
st.linregress(x, y)

NameError: name 'x' is not defined

 # Second Objective

In [13]:
st.pearson(x,y)

AttributeError: module 'scipy.stats' has no attribute 'pearson'

In [ ]:
st.spearman(x,y)

In [ ]:
st.kendalltau(x,y)

In [ ]:
sns.regplot(x = 'lwt', y = 'bwt', data = df)

In [ ]:
st.linregress(x,y)

In [ ]:
#Third Objective

In [ ]:
plt.scatter(df['age'], df[])

In [12]:
df = pd.read_csv('salary_Data.csv')

In [ ]:
df.columns

In [ ]:
sns.regplot(x = 'YearsExperience', Y = 'Salary', data = df)

Many mistakes in this file. 
Don't refer.
Day-1 IG